.gradient {
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
 }
 .jumbotron{
   position:relative;
   top:-23px;
   left:0px;
   width:100%;
 }
 .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #000000;
   color: white;
   text-align: center;
 }
 body{
    font-family: DFKai-sb;
 }